<a href="https://colab.research.google.com/github/filipematttos/AnaliseDados/blob/main/Revis%C3%A3o_Geral_Phyton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Trabalhando com váriáveis:**
* int = inteiro;
* float = decimal;
* str = string (texto);
* bolean = lógico.

**Para criar nome de variáveis:**
* começar com letras e não com números;
* não conter espaço em branco;
* preferencialmente com letras minúsculas.

In [ ]:
nome = 'Rita'

In [ ]:
print(nome)

Rita

In [ ]:
nome = 'Lucas'
print(nome)

Lucas

In [ ]:
nome_da_pessoa = ('Filipe Matos')

In [ ]:
print(nome_da_pessoa)

Filipe Matos

In [ ]:
123nome = 'Rita' #não aceita criar variável começando com números

SyntaxError: ignored

In [ ]:
Nome = 'Fil' #aceita, mas não é uma boa prática

In [ ]:
print(Nome)

Fil

In [ ]:
numero = 10

In [ ]:
print(numero)

10

In [ ]:
nome = 'Mara'
print(nome)

Mara

In [ ]:
type(numero) #phyton já reconhecer que a variável é inteira

int

In [ ]:
type(nome) #phyton já reconhece que a variável é texto

str

In [ ]:
nota = 5.7

In [ ]:
type(nota)

float

In [ ]:
a = 3
b = 4
c = a<b
d = a>b
e = a==b

In [ ]:
print('Valor de C:', c)
print('Valor de D: ', d)
print('Valor de A: ', a)

Valor de C: True
Valor de D:  False
Valor de A:  3

In [ ]:
nome = 'filipe' #para colocar em maiúsculo
caixa_alta = nome.upper()
print(caixa_alta)

FILIPE

In [ ]:
print(nome)

Filipe

In [ ]:
primeira_letra_maiuscula = nome.capitalize()
print(primeira_letra_maiuscula)

Filipe

In [ ]:
minuscula = nome.lower()

In [ ]:
print(minuscula)

filipe

1- **COMANDO INPUT :** Entrada de dados.

In [ ]:
input('Qual seu nome?')

Qual seu nome?Filipe

'Filipe'

In [ ]:
nome = input('Qual seu nome? ')
idade = int(input('Qual sua idade?'))
print('Seu nome é:'+ nome)
print('Sua idade é :', idade)

Qual seu nome? Filipe
Qual sua idade?30
Seu nome é:Filipe
Sua idade é : 30

In [ ]:
nome = input('Qual seu nome ?')
idade =  int(input('Qual sua idade?'))
estado = input('Qual seu estado? ')

print('Seu nome é:', nome, 'tem ', idade , 'anos e é do estado do ', estado )

Qual seu nome ?Filipe
Qual sua idade?30
Qual seu estado? Ceará
Seu nome é: Filipe tem  30 anos e é do estado do  Ceará

1 - Faça um programa que leia o nome do aluno e solicite 3 notas do mesmo e no final mostre a média:

In [ ]:
nome = input('Qual nome do aluno?')
nota1 = float(input('Nota 1: '))
nota2 = float(input('Nota 2: '))
nota3 = float(input('Nota 3: '))

media = (nota1 + nota2 + nota3)/3

print('O aluno', nome, 'teve média de:', media)

Qual nome do aluno?Lucas
Nota 1: 7.5
Nota 2: 2.3
Nota 3: 10
O aluno Lucas teve média de: 6.6000000000000005

In [ ]:
print(round(media,1))

6.6

2 - Faça um programa que solicite nome de 3 irmãos e mostre idade dos 3:

In [ ]:
nome1 = input('Nome do primeiro irmão: ')
nome2 = input('Nome do segundo irmão: ')
nome3 = input('Nome do terceiro irmão: ')
idade1 = int(input('Idade do primeiro irmão: '))
idade2 = int(input('Idade do segundo irmão: '))
idade3 = int(input('Idade do terceiro irmão: '))

print('O', nome1, 'tem', idade1, 'anos')
print('O', nome2, 'tem', idade2, 'anos')
print('O', nome3, 'tem', idade3,'anos')

Nome do primeiro irmão: Marinna
Nome do segundo irmão: Lucas
Nome do terceiro irmão: Filipe
Idade do primeiro irmão: 14
Idade do segundo irmão: 26
Idade do terceiro irmão: 30
O Marinna tem 14 anos
O Lucas tem 26 anos
O Filipe tem 30 anos

In [ ]:
nome = 'Filipe'

print('Meu nome é: ' + nome)
print(f'Meu nome é: { nome }')

Meu nome é: Filipe
Meu nome é: Filipe

In [ ]:
nome = 'Filipe'
idade = 30

In [ ]:
print(f'Meu nome é {nome} e tenho {idade} anos')

Meu nome é Filipe e tenho 30 anos

COMANDO DE DECISÃO IF:
Estrutura de comando IF:
if <condição>
  executar se a condição for verdadeira
else:
executar se a condição for falsa

In [ ]:
a = 10;
if a == 20:
  print('CHOCOLATE')
else:
  print('piroca')

piroca

In [ ]:
idade = 15

if idade >=18:
  print('Você é maior de idade.')
else:
  print('Você é menor de idade')

Você é menor de idade

1 Faça um programa que pergunte nome e idade de um rapaz, se ele for menor de 18 anos imprimir menor de idade, se ele tiver entre 18 e 23 adolescente se tiver maior adulto:

In [ ]:
nome = input('Qual o nome do rapaz?')
idade = int(in~~
            put('Qual idade do rapaz?'))

if idade<18:
  print(f'{nome} é menor de idade')
elif idade>=18:
  print(f'{nome} é adolescente')
else:
  print(f'{nome} é adulto')

Qual o nome do rapaz?Filipe
Qual idade do rapaz?30
Filipe é adolescente

1 - Ler dois números inteiros, executar e mostrar o resultado das seguintes operações: adição. subtração, multiplicação e divisão.

In [ ]:
numero1 = int(input('Insira o número1: '))
numero2 =int(input('Insira o número2: '))

adicao = (numero1+numero2)
subtracao = (numero1-numero2)
multiplicacao = (numero1*numero2)
divisao = (numero1/numero2)

print(f'Adição é {adicao}, a subtração é {subtracao}, a multiplicação é {multiplicacao} e a divisão é {divisao}')

Insira o número1: 5
Insira o número2: 3
Adição é 8, a subtração é 2, a multiplicação é 15 e a divisão é 1.6666666666666667

2 - Leia a idade de uma pessoa e classifuque-o em
criança 0 - 12 anos
adolescente 13 a 17 anos
adulto - acima de 18 anos

In [ ]:
idade = int(input('Insira a idade:'))

if idade<=12:
  print('Criança')
elif idade<=17:
  print('Adolescente')
else:
  print('Adulto')

Insira a idade:30
Adulto

Comando FOR - Laço repetição

Sintaxe: for in < faixa de repetição: instrução

In [ ]:
for contador in range(5):
  print('Filipe')

Filipe
Filipe
Filipe
Filipe
Filipe

In [ ]:
for contador in range(5):
  print(contador)

0
1
2
3
4

In [ ]:
for contador in range(5):
  print('Phyton')
  print('chocolate')

Phyton
chocolate
Phyton
chocolate
Phyton
chocolate
Phyton
chocolate
Phyton
chocolate

In [ ]:
for contador in range(5):
  print('Phyton')
print('chocolate')

Phyton
Phyton
Phyton
Phyton
Phyton
chocolate

In [ ]:
a =3
for contador in range(a):
  print('Filipe')

Filipe
Filipe
Filipe

In [ ]:
texto = 'computador'
for contador in texto:
  print('Phyton')

Phyton
Phyton
Phyton
Phyton
Phyton
Phyton
Phyton
Phyton
Phyton
Phyton

In [ ]:
texto = 'computador de mesa'
for contador in texto:
  print(contador, end="")

computador de mesa

In [ ]:
texto = 'computador de mesa'
for contador in texto:
  print(contador)

c
o
m
p
u
t
a
d
o
r

d
e

m
e
s
a

In [ ]:
#WHILE (ENQUANTO) = LAÇO REPETIÇÃO

cont = 0 #vairável auxiliar
while cont<10:
  cont = cont+1
  print('Phyton')

Phyton
Phyton
Phyton
Phyton
Phyton
Phyton
Phyton
Phyton
Phyton
Phyton

In [ ]:
a = 0
while a<10:
  a+=1
  if a==5:
    print('Aula')
print(a)

Aula
10

In [ ]:
a=0
while a<10:
  a+=1
if a==5:
    print('Aula')

In [ ]:
a=10
b=6
if a>5 and b==7:
  print('Gato')
else:
  print('Cachorro')

Cachorro

In [ ]:
a=0
while a<10:
  a+=1
  if a==5:
    a+=1
    if a==5:
      break

In [ ]:
cont = 0
while cont<3:
  cont+=1
  nome = input('Nome:')
else:
  print('FIM DO PROGRAMA')

Nome:Filipe
Nome:Lucas
Nome:Mateus
FIM DO PROGRAMA

In [ ]:
cont = 0
while cont<5:
  cont+=1
  nome=input('Digite o nome ou digite 9 para sair:')
  if nome='9':
    break
print('FIM DO PROGRAMA!!!')

SyntaxError: ignored

In [ ]:
}

LISTAS: é uma estrutura de dados composta por itens organizados de forma linear, na qual cada um pode ser acessado a partir de um índice, que representa sua posição na coleção (iniciando em zero).
Na criação de uma lista utilizamos o colchetes  []
Ex: lista =[1,2,3,4,5]
Biblioteca: É um conjunto de funções e códigos prontos que facilitam o desenvolvimento dos porgramas. Para usá-lasprecisamos importá-las com o comando import.

In [ ]:
import math
math.sqrt(16)

4.0

In [ ]:
math.pow(4,2)

16.0

In [ ]:
math.factorial(5)

120

In [ ]:
import random #retora números pseudo aleatórios

In [ ]:
random.randint(1,100) #retorna nº aleatórios entre 1 e 100

35

In [ ]:
random.choice([12,33,41,19,20]) #sorteia um nº da lista

12

In [ ]:
import datetime
datetime.date.today()

datetime.date(2023, 11, 10)

In [ ]:
datetime.date.today().day

10

In [ ]:
datetime.date.today().month

11

In [ ]:
datetime.date.today().year

2023

In [ ]:
import time
for contador in range(5):
  print('Conectando...')
  time.sleep(1)

Conectando...
Conectando...
Conectando...
Conectando...
Conectando...

LISTA:

In [ ]:
lista=[1,2,3,4,5]

In [ ]:
print(lista)

[1, 2, 3, 4, 5]

In [ ]:
lista[4]

5

In [ ]:
#inserir elemenrtos na lista
lista.append(6)

In [ ]:
lista

[1, 2, 3, 4, 5, 6]

In [ ]:
lista.append(8)

In [ ]:
lista

[1, 2, 3, 4, 5, 6, 8]

In [ ]:
lista[2]=100

In [ ]:
lista

[1, 2, 100, 4, 5, 6, 8]

In [ ]:
lista.insert(2,3)

In [ ]:
lista

[1, 2, 3, 100, 4, 5, 6, 8]

In [ ]:
del lista[0]

In [ ]:
lista

[2, 3, 100, 4, 5, 6, 8]

In [ ]:
lista1=[1,3,5,7,9]
lista2=[2,4,6,8,10]

In [ ]:
lista1.append(lista2)

In [ ]:
lista1

[1, 3, 5, 7, 9, [2, 4, 6, 8, 10]]

#criando uma lista com o range:

In [ ]:
valores = list(range(1,11))

In [ ]:
valores

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
len(valores)

10

In [ ]:
sum(valores)

55

In [ ]:
min(valores)

1

In [ ]:
3 in valores

True

In [ ]:
12 in valores

False

In [ ]:
#mostrando valores da lista:
for i in valores:
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in valores:
  print(i, end="")

12345678910

In [ ]:
for i in enumerate(valores):
  print(i)

(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 5)
(5, 6)
(6, 7)
(7, 8)
(8, 9)
(9, 10)

In [ ]:
idades=[]
for i in range(5):
  idades.append(int(input('informe a idade:')))
print(idades)

informe a idade:12
informe a idade:34
informe a idade:65
informe a idade:78
informe a idade:45
[12, 34, 65, 78, 45]

In [ ]:
estados=['SP','CE','RJ','BA']

In [ ]:
estados

['SP', 'CE', 'RJ', 'BA']

In [ ]:
print(f'O estado sorteado foi: {random.choice(estados)}')

O estado sorteado foi: BA

In [ ]:
for i in range(5):
  lista.append(random.randint(1,100))
print(lista)

[2, 3, 100, 4, 5, 6, 8, 86, 52, 50, 17, 68]

TUPLA: Uma tupla é como uma lista, porém naõ pdoe ser alterada.
As listas são representadas por []
As tuplas são representadas por ()
Uma tupla ocupa menos espaço na memória do que uma lista

1- Dadas duas listas P1 e p2, ambas com N valores reais, que representam as notas de uma turma na prova 1 e na prova 2, respetivamente, escreva um programa que calcule a média da turma nas provas 1 e 2, imprimindo em qual das provas a turma obteve a melgor média:

In [ ]:
p1=[5.5, 6.7,9.8,2.2]
p2=[2.2, 4.4, 5.3,3.4]

mediaP1=sum(p1)/len(p2)
mediaP2=sum(p2)/len(p2)

if mediaP1>mediaP2:
  print(f'A turma obteve maior média na P1. A média foi {mediaP1:.1f}')
else:
  print(f'A turma obteve maior média na P2. A média foi {mediaP2:.1f}')

A turma obteve maior média na P1. A média foi 6.0

2-Faça um programa que leia 10 números. Se o número lido for par, deverá ser armazenado em uma lista chamada PAR, se for ímpar, deverpa ser armazenado em uma lista chamada ÍMPAR. No final, mostrar o conteúdo das duas listas:

In [ ]:
par=[]
impar=[]
for i in range(10):
  i=int(input('Digite os valores:'))
  if i%2==0:
    par.append(i)
  else:
    impar.append(i)

  print(par)
  print(impar)

Digite os valores:1
[]
[1]
Digite os valores:2
[2]
[1]
Digite os valores:3
[2]
[1, 3]
Digite os valores:4
[2, 4]
[1, 3]
Digite os valores:5
[2, 4]
[1, 3, 5]
Digite os valores:6
[2, 4, 6]
[1, 3, 5]
Digite os valores:6
[2, 4, 6, 6]
[1, 3, 5]
Digite os valores:7
[2, 4, 6, 6]
[1, 3, 5, 7]
Digite os valores:8
[2, 4, 6, 6, 8]
[1, 3, 5, 7]
Digite os valores:9
[2, 4, 6, 6, 8]
[1, 3, 5, 7, 9]

In [ ]:
4